/* Accessing elements*/

.examples{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
}

.classExample {
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    margin-bottom: 20px;
}

.idExample{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    margin-bottom: 20px;
}

.tagExample{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    margin-bottom: 20px;
}

.QuerySelectorExample{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    margin-bottom: 20px;
}

.QuerySelectorAll{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    margin-bottom: 20px;
}

.pleaseNote {
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    margin-bottom: 20px;
    border: 5px solid black;
}

/*traversing the DOM */

li {
    /*border: 1px solid blue;*/
    margin: 5px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.childNode {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

/* making changes */

.changes
    {background-color: #cffffa;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
}

.changesText {
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 25px;
}

.red {
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    border: 3px dashed red;
    margin-bottom: 25px;
    margin-left: 15px;
}

.blue {
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    border: 3px dashed blue;
    margin-bottom: 25px;
    margin-left: 15px;
}

.background {
    background-color: aqua;
}

/* events examples */

#clkEx {
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    background-color: yellow;
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 30px;
}

.eventEx {
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 25px;
    margin-top: 20px;
}

#dblClk {
    border: 10px solid black;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 30px;
}

#hoverEx {
    background-color: purple;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 30px;
}
