/* ALL */
a {
    text-decoration: none;
    color: black;
}

/* HEADER */

.heading{
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin: 0;
}

.chloe {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}

.header {
    text-align: center;
    padding-top: 15px;
    background-color: orangered;
    
}

.githubImg {
    font-size: 3vw;
    text-decoration: none;
    color: black;
}

img {
    max-height: 200px;
    max-width: 100px;
}

.htmlDiv {
    width: 100%;
    height: 150px;
    background-color: yellow;
    text-align: center;
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
}

.cssDiv{
    width: 100%;
    height: 150px;
    background-color: blue;
    text-align: center; 
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
}

.JSDiv {
    width: 100%;
    height: 150px;
    background-color: purple;
    text-align: center;  
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
}

.bootstrapDiv{
    width: 100%;
    height: 150px;
    background-color: hotpink;
    text-align: center;
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
}

.gitDiv{
    width: 100%;
    height: 150px;
    background-color: orange;
    text-align: center;
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
}

.domDiv{
    width: 100%;
    height: 150px;
    background-color: greenyellow;
    text-align: center;
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
}

/* FOOTER */

footer {
    padding-top: 5px;
    background-color: orangered;
    position: static;
}


.footerP{
    font-family: 'Press Start 2P', cursive;
    font-size: 1vw;
    margin: auto;
}

.external {
    margin: auto;
    width: 100%;
    text-align: center;
}

.externalLinkImg {
    height: 30px;
    width: 30px;
    margin: 10px;
}

/* HTML PAGE */

.htmlP {
    background-color: #cffffa;
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

.leftCol {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    border: 3px solid purple;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 10px 15px;
    overflow:scroll;
}

.rightCol{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    border: 3px solid purple;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 10px 10px;
    overflow:scroll;
}


/* CSS PAGE */

.boxModelRow{
    border: 5px solid purple;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cssP {
    background-color: #cffffa;
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.boxModel {
    max-height: 300px;
    max-width: 450px;
}

.imgDiv {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;

}

/* BOOTSTRAP PAGE */

.bootstrapP {
    background-color: #cffffa;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.gridEx {
    border: 3px solid red;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    margin-bottom: 15px;
    margin-left: auto;
    padding: 5px;
}

.grid {
    border: 5px solid purple;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
}


/* JS OPENING PAGE */

.JSPara {
    background-color: #cffffa;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.pinkBack{
    width: 100%;
    height: 80px;
    background-color: #fa91ff;
    text-align: center;
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
}

.yellowBack{
    width: 100%;
    height: 80px;
    background-color: #fdff8a;
    text-align: center;
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
}

/*JAVASCRIPT BASICS*/
.title {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-decoration: underline;
}
.comments {
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 8px solid purple;
    display: inline-block;
    margin-bottom: 20px;
}

pre {
    width: 100%;
    overflow: scroll;
}

.datatypes {
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 10px 10px 3px 10px;
    border: 5px solid red;
    display: inline-block;
    margin-bottom: 15px;
}

table {
    width: 100%;
    overflow: scroll;
    table-layout: fixed;
}

/* STRING METHODS */


.StringPara {
    background-color: #cffffa;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
}

.concatPara {
    background-color: #e5b5ff;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
}

.stringTitles {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-decoration: underline;

}

.templatePara {
    background-color: #87ff5e;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
}

.MethodPara {
    background-color: #fcfc60;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
}
